{% extends 'baseNoNav.html.twig' %}

{% block title %}Edit Magasin{% endblock %}

{% block content %}
    <a href="{{ path('app_magasin_index') }}" class="btn btn-primary">back to list</a>

    {{ include('admin/magasin/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('admin/magasin/_delete_form.html.twig') }}
{% endblock %}
