@import "~bootstrap/scss/bootstrap";
@import "./header.scss";
@import "./liste.scss";
@import "./profil.scss";
/* Centre le formulaire dans la page */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    }
    
    /* Donne un style au titre */
    h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    }
    
    /* Donne un style aux labels */
    label {
    font-size: 1rem;
    margin-bottom: 5px;
    }
    
    /* Donne un style aux inputs */
    input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    }
    
    /* Donne un style au bouton */
    button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    }
    
    /* Donne un style au bouton lorsque la souris passe dessus */
    button:hover {
    background-color: #0069d9;
    }
    
    /* Donne un style au bouton lorsqu'il est appuyé */
    button:active {
    background-color: #0053a3;
    }
    a {
        text-decoration: none;
        color: rgb(41, 41, 41);
    }



.cog-option, .flexLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    cursor: pointer;
}

.checkboxItem {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.cog-option:hover {
    transform: rotate(90deg);
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    height: 50px;
}
.container {
    margin-top: 11vh;
}
li {
    list-style: none;
}